@layer base {
  /* Ozean Breeze */
  .theme-ocean-breeze {
    --background: oklch(0.9751 0.0127 244.2507);
    --foreground: oklch(0.3729 0.0306 259.7328);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3729 0.0306 259.7328);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3729 0.0306 259.7328);
    --primary: oklch(0.7227 0.192 149.5793);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9514 0.025 236.8242);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9505 0.0507 163.0508);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7227 0.192 149.5793);
    --chart-1: oklch(0.7227 0.192 149.5793);
    --chart-2: oklch(0.6959 0.1491 162.4796);
    --chart-3: oklch(0.596 0.1274 163.2254);
    --chart-4: oklch(0.5081 0.1049 165.6121);
    --chart-5: oklch(0.4318 0.0865 166.9128);
    --sidebar: oklch(0.9514 0.025 236.8242);
    --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-primary: oklch(0.7227 0.192 149.5793);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9505 0.0507 163.0508);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.7227 0.192 149.5793);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  .theme-ocean-breeze.dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.8717 0.0093 258.3382);
    --card: oklch(0.2795 0.0368 260.031);
    --card-foreground: oklch(0.8717 0.0093 258.3382);
    --popover: oklch(0.2795 0.0368 260.031);
    --popover-foreground: oklch(0.8717 0.0093 258.3382);
    --primary: oklch(0.7729 0.1535 163.2231);
    --primary-foreground: oklch(0.2077 0.0398 265.7549);
    --secondary: oklch(0.3351 0.0331 260.912);
    --secondary-foreground: oklch(0.7118 0.0129 286.0665);
    --muted: oklch(0.2795 0.0368 260.031);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.3729 0.0306 259.7328);
    --accent-foreground: oklch(0.7118 0.0129 286.0665);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.2077 0.0398 265.7549);
    --border: oklch(0.4461 0.0263 256.8018);
    --input: oklch(0.4461 0.0263 256.8018);
    --ring: oklch(0.7729 0.1535 163.2231);
    --chart-1: oklch(0.7729 0.1535 163.2231);
    --chart-2: oklch(0.7845 0.1325 181.912);
    --chart-3: oklch(0.7227 0.192 149.5793);
    --chart-4: oklch(0.6959 0.1491 162.4796);
    --chart-5: oklch(0.596 0.1274 163.2254);
    --sidebar: oklch(0.2795 0.0368 260.031);
    --sidebar-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-primary: oklch(0.7729 0.1535 163.2231);
    --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-accent: oklch(0.3729 0.0306 259.7328);
    --sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
    --sidebar-border: oklch(0.4461 0.0263 256.8018);
    --sidebar-ring: oklch(0.7729 0.1535 163.2231);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  /* Amber Minimal */
  .theme-amber-minimal {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2686 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2686 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2686 0 0);
    --primary: oklch(0.7686 0.1647 70.0804);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.967 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9869 0.0214 95.2774);
    --accent-foreground: oklch(0.4732 0.1247 46.2007);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7686 0.1647 70.0804);
    --chart-1: oklch(0.7686 0.1647 70.0804);
    --chart-2: oklch(0.6658 0.1574 58.3183);
    --chart-3: oklch(0.5553 0.1455 48.9975);
    --chart-4: oklch(0.4732 0.1247 46.2007);
    --chart-5: oklch(0.4137 0.1054 45.9038);
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.2686 0 0);
    --sidebar-primary: oklch(0.7686 0.1647 70.0804);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9869 0.0214 95.2774);
    --sidebar-accent-foreground: oklch(0.4732 0.1247 46.2007);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.7686 0.1647 70.0804);
    --radius: 0.375rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  .theme-amber-minimal.dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.7686 0.1647 70.0804);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.4732 0.1247 46.2007);
    --accent-foreground: oklch(0.9243 0.1151 95.7459);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.7686 0.1647 70.0804);
    --chart-1: oklch(0.8369 0.1644 84.4286);
    --chart-2: oklch(0.6658 0.1574 58.3183);
    --chart-3: oklch(0.4732 0.1247 46.2007);
    --chart-4: oklch(0.5553 0.1455 48.9975);
    --chart-5: oklch(0.4732 0.1247 46.2007);
    --sidebar: oklch(0.1684 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.7686 0.1647 70.0804);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.4732 0.1247 46.2007);
    --sidebar-accent-foreground: oklch(0.9243 0.1151 95.7459);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.7686 0.1647 70.0804);
    --radius: 0.375rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  /* Clean Slate */
  .theme-clean-slate {
    --background: oklch(0.9842 0.0034 247.8575);
    --foreground: oklch(0.2795 0.0368 260.031);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2795 0.0368 260.031);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2795 0.0368 260.031);
    --primary: oklch(0.5854 0.2041 277.1173);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9276 0.0058 264.5313);
    --secondary-foreground: oklch(0.3729 0.0306 259.7328);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9299 0.0334 272.7879);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8717 0.0093 258.3382);
    --input: oklch(0.8717 0.0093 258.3382);
    --ring: oklch(0.5854 0.2041 277.1173);
    --chart-1: oklch(0.5854 0.2041 277.1173);
    --chart-2: oklch(0.5106 0.2301 276.9656);
    --chart-3: oklch(0.4568 0.2146 277.0229);
    --chart-4: oklch(0.3984 0.1773 277.3662);
    --chart-5: oklch(0.3588 0.1354 278.6973);
    --sidebar: oklch(0.967 0.0029 264.5419);
    --sidebar-foreground: oklch(0.2795 0.0368 260.031);
    --sidebar-primary: oklch(0.5854 0.2041 277.1173);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9299 0.0334 272.7879);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-border: oklch(0.8717 0.0093 258.3382);
    --sidebar-ring: oklch(0.5854 0.2041 277.1173);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  .theme-clean-slate.dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.9288 0.0126 255.5078);
    --card: oklch(0.2795 0.0368 260.031);
    --card-foreground: oklch(0.9288 0.0126 255.5078);
    --popover: oklch(0.2795 0.0368 260.031);
    --popover-foreground: oklch(0.9288 0.0126 255.5078);
    --primary: oklch(0.6801 0.1583 276.9349);
    --primary-foreground: oklch(0.2077 0.0398 265.7549);
    --secondary: oklch(0.3351 0.0331 260.912);
    --secondary-foreground: oklch(0.8717 0.0093 258.3382);
    --muted: oklch(0.2795 0.0368 260.031);
    --muted-foreground: oklch(0.7137 0.0192 261.3246);
    --accent: oklch(0.3729 0.0306 259.7328);
    --accent-foreground: oklch(0.8717 0.0093 258.3382);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.2077 0.0398 265.7549);
    --border: oklch(0.4461 0.0263 256.8018);
    --input: oklch(0.4461 0.0263 256.8018);
    --ring: oklch(0.6801 0.1583 276.9349);
    --chart-1: oklch(0.6801 0.1583 276.9349);
    --chart-2: oklch(0.5854 0.2041 277.1173);
    --chart-3: oklch(0.5106 0.2301 276.9656);
    --chart-4: oklch(0.4568 0.2146 277.0229);
    --chart-5: oklch(0.3984 0.1773 277.3662);
    --sidebar: oklch(0.2795 0.0368 260.031);
    --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
    --sidebar-primary: oklch(0.6801 0.1583 276.9349);
    --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-accent: oklch(0.3729 0.0306 259.7328);
    --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-border: oklch(0.4461 0.0263 256.8018);
    --sidebar-ring: oklch(0.6801 0.1583 276.9349);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  /* Sunset Horizon */

  .theme-sunset-horizon {
    --background: oklch(0.9856 0.0084 56.3169);
    --foreground: oklch(0.3353 0.0132 2.7676);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3353 0.0132 2.7676);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3353 0.0132 2.7676);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9596 0.02 28.9029);
    --secondary-foreground: oklch(0.5587 0.1294 32.7364);
    --muted: oklch(0.9656 0.0176 39.4009);
    --muted-foreground: oklch(0.5534 0.0116 58.0708);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.3353 0.0132 2.7676);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9296 0.037 38.6868);
    --input: oklch(0.9296 0.037 38.6868);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.9656 0.0176 39.4009);
    --sidebar-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-border: oklch(0.9296 0.037 38.6868);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
    --radius: 0.625rem;
    --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-sm:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow-md:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 2px 4px -4px hsl(0 0% 0% / 0.09);
    --shadow-lg:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 4px 6px -4px hsl(0 0% 0% / 0.09);
    --shadow-xl:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 8px 10px -4px hsl(0 0% 0% / 0.09);
    --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
  }

  .theme-sunset-horizon.dark {
    --background: oklch(0.2569 0.0169 352.4042);
    --foreground: oklch(0.9397 0.0119 51.3156);
    --card: oklch(0.3184 0.0176 341.4465);
    --card-foreground: oklch(0.9397 0.0119 51.3156);
    --popover: oklch(0.3184 0.0176 341.4465);
    --popover-foreground: oklch(0.9397 0.0119 51.3156);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3637 0.0203 342.2664);
    --secondary-foreground: oklch(0.9397 0.0119 51.3156);
    --muted: oklch(0.3184 0.0176 341.4465);
    --muted-foreground: oklch(0.8378 0.0237 52.6346);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.2569 0.0169 352.4042);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3637 0.0203 342.2664);
    --input: oklch(0.3637 0.0203 342.2664);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.2569 0.0169 352.4042);
    --sidebar-foreground: oklch(0.9397 0.0119 51.3156);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.2569 0.0169 352.4042);
    --sidebar-border: oklch(0.3637 0.0203 342.2664);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
    --radius: 0.625rem;
    --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
    --shadow-sm:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 1px 2px -4px hsl(0 0% 0% / 0.09);
    --shadow-md:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 2px 4px -4px hsl(0 0% 0% / 0.09);
    --shadow-lg:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 4px 6px -4px hsl(0 0% 0% / 0.09);
    --shadow-xl:
      0px 6px 12px -3px hsl(0 0% 0% / 0.09),
      0px 8px 10px -4px hsl(0 0% 0% / 0.09);
    --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
  }

  /* Modern Minimal */
  .theme-modern-minimal {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.967 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9514 0.025 236.8242);
    --accent-foreground: oklch(0.3791 0.1378 265.5222);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.6231 0.188 259.8145);
    --chart-1: oklch(0.6231 0.188 259.8145);
    --chart-2: oklch(0.5461 0.2152 262.8809);
    --chart-3: oklch(0.4882 0.2172 264.3763);
    --chart-4: oklch(0.4244 0.1809 265.6377);
    --chart-5: oklch(0.3791 0.1378 265.5222);
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9514 0.025 236.8242);
    --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.6231 0.188 259.8145);
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.3791 0.1378 265.5222);
    --accent-foreground: oklch(0.8823 0.0571 254.1284);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6231 0.188 259.8145);
    --chart-1: oklch(0.7137 0.1434 254.624);
    --chart-2: oklch(0.6231 0.188 259.8145);
    --chart-3: oklch(0.5461 0.2152 262.8809);
    --chart-4: oklch(0.4882 0.2172 264.3763);
    --chart-5: oklch(0.4244 0.1809 265.6377);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3791 0.1378 265.5222);
    --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.6231 0.188 259.8145);
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}
